---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16JCmcJMMPtxD6BkUYrknUpF&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16JCmdJMMPtxD6BkPNEtUEG7",
          "object": "charge",
          "created": 1435624771,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16JCmcJMMPtxD6BkYJKO27vJ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "hJysv92qq5QPJd8O",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16JCmdJMMPtxD6BkFQrY6PlX",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16JCmdJMMPtxD6BkPNEtUEG7/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 30 Jun 2015 00:39:31 GMT
recorded_with: VCR 2.9.3
