---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16TAnUJMMPtxD6BkpbhEVbtx&email=example%40no.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Mon, 27 Jul 2015 12:33:38 GMT
recorded_with: VCR 2.9.3
