---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16TAnWJMMPtxD6BkThKzkdQD&email=example%40no.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1438000419,
          "id": "cus_6gXt2JmJa4qIXS",
          "livemode": false,
          "description": null,
          "email": "example@no.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gXt2JmJa4qIXS/subscriptions",
            "data": [
              {
                "id": "sub_6gXta117gntbzz",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1437085896,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix"
                },
                "object": "subscription",
                "start": 1438000419,
                "status": "active",
                "customer": "cus_6gXt2JmJa4qIXS",
                "cancel_at_period_end": false,
                "current_period_start": 1438000419,
                "current_period_end": 1440678819,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6gXt2JmJa4qIXS/sources",
            "data": [
              {
                "id": "card_16TAnWJMMPtxD6Bk5G6RHEoC",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "hJysv92qq5QPJd8O",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6gXt2JmJa4qIXS"
              }
            ]
          },
          "default_source": "card_16TAnWJMMPtxD6Bk5G6RHEoC"
        }
  recorded_at: Mon, 27 Jul 2015 12:33:39 GMT
recorded_with: VCR 2.9.3
