---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16Ly1hJMMPtxD6Bke8qn3IYS&description=Sign%20up%20charge%20for%20example%40no.com
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16Ly1hJMMPtxD6BkThLKMz3G"
          }
        }
  recorded_at: Tue, 07 Jul 2015 15:30:30 GMT
recorded_with: VCR 2.9.3
