---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16JsfQJMMPtxD6BkfA9aIr3B",
          "livemode": false,
          "created": 1435785772,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16JsfQJMMPtxD6BklZ0bFbz0",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "2bTB6Kn9BaXs196e",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "99.169.126.49"
        }
  recorded_at: Wed, 01 Jul 2015 21:22:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16JsfQJMMPtxD6BkfA9aIr3B&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16JsfRJMMPtxD6BkiKltEf5K"
          }
        }
  recorded_at: Wed, 01 Jul 2015 21:22:52 GMT
recorded_with: VCR 2.9.3
