---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16WEZmJMMPtxD6BkVT7cNS8k",
          "livemode": false,
          "created": 1438729926,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16WEZmJMMPtxD6BkWYRkEzyh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "hJysv92qq5QPJd8O",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "65.185.69.173"
        }
  recorded_at: Tue, 04 Aug 2015 23:12:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16WEZmJMMPtxD6BkVT7cNS8k&email=leann%40denesik.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_C46QzPKRDrVoMVA8U2hfSOgN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1438729926,
          "id": "cus_6jhzYxf5wSJXhe",
          "livemode": false,
          "description": null,
          "email": "leann@denesik.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6jhzYxf5wSJXhe/subscriptions",
            "data": [
              {
                "id": "sub_6jhzGbumXnK46s",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1437085896,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MyFlix"
                },
                "object": "subscription",
                "start": 1438729926,
                "status": "active",
                "customer": "cus_6jhzYxf5wSJXhe",
                "cancel_at_period_end": false,
                "current_period_start": 1438729926,
                "current_period_end": 1441408326,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6jhzYxf5wSJXhe/sources",
            "data": [
              {
                "id": "card_16WEZmJMMPtxD6BkWYRkEzyh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "hJysv92qq5QPJd8O",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6jhzYxf5wSJXhe"
              }
            ]
          },
          "default_source": "card_16WEZmJMMPtxD6BkWYRkEzyh"
        }
  recorded_at: Tue, 04 Aug 2015 23:12:08 GMT
recorded_with: VCR 2.9.3
